@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

:root {
    --general-bg-color: #eee;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: var(--general-bg-color);
}
